<div class="container">
  <h1>Welcome to Twitter clone!</h1>
  <h2>Hello, twitterdoos!</h2>
</div>

<div class="index">
  <form action="/login" >
      <input type="submit" value="Login">
  </form>

  <form action="/signup">
      <input type="submit" value="Sign up">
  </form>

  <form action="/logout" >
      <input type="submit" value="Log out">
  </form>
</div>


<div class="entry">
  <br>
  <form action="/tweets/create" method="post">
    <input type="text" name="tweet" placeholder="What's happening?"><br>
    <input type="submit" value="Enter">
</form>

====================================================<br><br>

  <% if @tweet %>
  <% @tweet.each do |tweet| %>
  Tweeted by:  <%= tweet.user.username %>
    <form action="/follow/<%= tweet.user.id %>" >
        <input type="submit" value="Follow">
    </form><br>
    <%= tweet.text %> <br><br>
    <% end %>
  <% end %>
</div>


