<div class="container">
  <h1>Welcome to Twitter clone!</h1>
  <h2>Hello, twitterdoos!</h2>
</div>

<div class="index">
Sign up
<div class="signup">
  <form action='/signup' method='post'>
    Username: <br><input type='text' name='user[username]'><br><br>
    Password: <br><input type='password' name='user[password]'><br><br>
    About: <br><input type='about' name='user[about]'><br><br>
    <input type='submit' name='submit' value='Submit'>
  </form>
</div>